@import "tailwindcss";

html,
body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: "Inclusive Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

main {
  background-position: left top;
  background-image: url("/bg2.jpg");
  background-size: 800px;
  background-repeat: repeat;
}